@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}



/*slideshow image code*/

.background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px; 
  }
  
  .slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

 
:root {
    --bg-color: midnightblue;
    --second-bg-color:  #276ab3;
    --third-bg-color: #081b29;
    --fourth-bg-color:  #112e42;
    --text-color: #ededed;
    --main-color:aqua;
  }
  

/*first section code...*/


.headbar {
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
    background: var(--fourth-bg-color);
    justify-content: space-between;
    align-items: center;
 
}


.left-part {
    padding: 7px;
    display: flex;
    align-items:center;
   
}

.right-part {
    padding: 7px;
    display: flex;
    align-items:center;
 
}

.left-part li {
    list-style: none;
    padding: 6px 10px;
}
.left-part li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}

.left-part li a:hover {
    text-decoration: none;
    color: var(--main-color);

}

.right-part li {
    list-style: none;
    padding: 6px 10px;
}
.right-part li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
font-family: 'Ubuntu', sans-serif;
}

.right-part li a:hover {
    text-decoration: none;
    color: var(--main-color);

}

/*seconf section code...*/

.logo-1 {
    width: 300%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.logo-1 img {
    width: 100%;
    border: 10px var(--text-color);
}
.navbar {
    height: 75px;
    display: flex;
    position: sticky;
    top: 0;
    cursor: pointer;
    background: var(--second-bg-color);
    z-index: 1;
 
}

.nav-list {
    width: 40%;
    display: flex;
    align-items:center;
   
}
.nav-list li {
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover {
    text-decoration: none;
    color: var(--main-color);

}

.rightNav {
    width: 60%;
    padding: 7px;
    display: flex;
    align-items:center;
}


.rightNav li {
    list-style: none;
    padding: 6px 10px;
    font-weight: 500;
    position: relative;
}
.rightNav li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: inline-block;

}

.rightNav li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: var(--dark-color); /* Set the background color to your desired dark color */
    border-radius: 50%; /* Use 50% border-radius for oval shape */
    z-index: -1;
}

.rightNav li a:hover {
    text-decoration: none;
    color: black;

}

.logo-2 {
    width: 10%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.logo-2 img {
    width: 100%;
    border: 10px var(--text-color);
}



.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-bg-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}

.firstHalf {
    padding: 20px 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    height: 80%;
}


.section-1 {
    padding-left: 100px;
    height: 200px;
    display: flex;
    cursor: pointer;
    background-color: var(--second-bg-color);
 
}

.sec-a,
.sec-b,
.sec-c,
.sec-d,
.sec-e {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  text-align: center;
  transition: transform 0.3s ease;
}
.sec-a:hover,
.sec-b:hover,
.sec-c:hover,
.sec-d:hover,
.sec-e:hover {
  transform: scale(1.2);
}

.circle {
    width: 70px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--fourth-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--text-color);
    margin-top: 30px; 
  }
  .circle:hover{
    background-color: var(--text-color);
  }

  .circle i {
    color: var(--text-color);
  }
  .circle i:hover {
    color: var(--fourth-bg-color);
  }
.text-p1 {
    height: 100%;
    font-size: 15px;
    color: white;
    text-shadow: 33px;
    font-weight: bold;

}
.text-p1:hover {
    text-decoration: none;
    color: var(--fourth-bg-color);

}




.text-big {
    height: 100%;
    padding-right: 30%;
    font-size: 35px;
    color: white;
    text-shadow: 33px;

}
.text-big:hover {
    text-decoration: none;
    color: aqua;

}

.text-small {
    font-size: 20px;
    padding-left: 10%;
    height: 200%;
    color: white;


}
.text-small:hover {
    text-decoration: none;
    color: aqua;

}


.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu' sans-serif;
}

.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 13px;
    border-radius: 8px;
    
}






.section {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--text-color);
  }
  
  .thumbnail {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-left: 40px;
  }
  
  .thumbnail img {
    height: 300px;
    width: auto;
  }



  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  
  .thumbnail:hover img {
    filter: brightness(30%); /* Decrease the brightness to make it darker */
  }
  .thumbnail:hover .overlay {

    opacity: 1;
  }
  
  .overlay i {
    font-size: 24px;
    color: var(--third-bg-color);
    margin: 0 5px;
    border-radius: 50%;
    background-color: var(--text-color); 
    padding: 10px;
  }


  
  .content {
    width: 60%;
    padding: 50px 65px;
  }
  
  .sectionTag {
    padding: 16px 0;
    font-size: 20px; /* Adjust the font size as desired */
  }
  
  .sectionSubTag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px; /* Adjust the font size as desired */
    font-weight: 400;
    color: var(--fourth-bg-color);
  }
  





.section-2a {
    padding-left: 540px;
    height: 50px;
    display: flex;
    cursor: pointer;
    background-color: var(--second-bg-color);
 
}
.sec-aa {
    width: 100%;
    display: flex;
    align-items:center;
   
}
.text-p2 {
    height: 50%;
    padding-top: 50px; 
    font-size: 25px;
    color: white;
    text-shadow: 33px;

}


.section-2b {
    padding-top: 90px;
    height: 200px;
    display: flex;
    cursor: pointer;
    background-color: var(--second-bg-color);
 
}

.sec-a1 {
    flex-direction: column;
    width: 33%;
    display: flex;
    align-items:center;
   
}
.sec-b1 {
    flex-direction: column;
    width: 34%;
    display: flex;
    align-items:center;
   
}
.sec-c1 {
    flex-direction: column;
    width: 33%;
    display: flex;
    align-items:center;
   
}

.logo_sec1a{
    color: var(--text-color);
}
.logo_sec1a:hover{
    color: var(--third-bg-color);
}

.text-p3 {
    font-size: 15px;
    color: white;
    text-shadow: 33px;
    font-weight: bold;

}



/*first part of important link*/


.important-links {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .section-heading {
    font-size: 30px;
    color: var(--third-bg-color);
  }
  
  .stars {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .star-line {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000;
    margin: 0 10px;
    width: 10px;
    
  }
  
  .star-icon {
    font-size: 20px;
  }
  
  .image-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  
  .image-row img {
    width: 250px;
    height: 200px;
    transition: filter 0.3s, brightness 0.3s;
  }
  
  .image-row img:hover {
    filter: brightness(40%);
  }
  
  .image-row img:hover::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .image-row img:hover::after {
    opacity: 1;
  }




/*second part of important link*/

  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    margin: 0 10px;
    max-height: 90px;
    transition: filter 0.3s;
  }

  .image-container img:hover {
    filter: brightness(40%);   
}
  

  

  /*Footer section*/
  

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fourth-bg-color);
    padding: 20px;
  }
  
  .footer-left p {
    font-size: 12px;
    color: white;
    margin: 0;
  }
  
  .footer-right .footer-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-right .footer-links li {
    margin-right: 10px;
  }
  
  .footer-right .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-right .footer-links a {
    text-decoration: none;
    color: white;
  }
  
  .footer-right .footer-links a:hover {
    color: var(--second-bg-color);
  }
  


/*Last section*/


.section-3 {
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
  }
  
  .part-1 {
    width: 30%;
    text-align: center;
  }
  
  .part-1 img {
    max-width: 100%;
    height: auto;
  }
  
  .part-2 {
    width: 40%;
  }
  
  .sectionSubTag_1 {
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: 13px;
    word-spacing: 1px;
  }
  
  .part-3 {
    width: 40%;
    text-align: center;
  }
  .part-3 img {
    width: 280px; /* Adjust the width as desired */
    height: auto; /* Maintain the aspect ratio */
  }
  

  .align-left {
    text-align: left;
  }




  /*Icons ... */
  .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 0 10px; 
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; 
  border: 2px solid transparent; 
}

.icon i {
  font-size: 24px;
  color: black; 
}

.icon:hover {
  background-color: lightgray; 
  border-color: black; 
}




  /*Responsive website*/


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
    }

    .nav-list {
        width: 100%;
        justify-content: center;
    }

    .rightNav {
        width: 100%;
        justify-content: center;
    }

    .rightNav li {
        margin-right: 5px;
        margin-left: 5px;
    }

    .logo-2 {
        display: none;
    }

    .section-1 {
        padding-left: 20px;
        height: auto;
        flex-wrap: wrap;
    }

    .sec-a,
    .sec-b,
    .sec-c,
    .sec-d,
    .sec-e {
        width: 100%;
        margin-top: 20px;
    }

    .section {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .thumbnail {
        width: 100%;
        padding-left: 0;
    }

    .thumbnail img {
        height: auto;
        width: 100%;
    }

    .content {
        width: 100%;
        padding: 20px;
    }

    .section-2a {
        padding-left: 20px;
    }

    .section-2b {
        flex-wrap: wrap;
    }

    .sec-a1,
    .sec-b1,
    .sec-c1 {
        width: 100%;
        margin-top: 20px;
    }

    .important-links {
        margin-bottom: 50px;
    }

    .image-row {
        flex-wrap: wrap;
    }

    .image-row img {
        width: 100%;
        height: auto;
    }

    .slider-container {
        max-width: 100%;
        overflow: hidden;
    }

    .swiper-container {
        max-width: 100%;
    }

    .swiper-slide img {
        height: auto;
    }

    .footer {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

    .footer-left p {
        margin-bottom: 10px;
    }

    .footer-right .footer-links {
        flex-direction: column;
    }

    .footer-right .footer-links li {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .section-3 {
        flex-direction: column;
        height: auto;
    }

    .part-1 {
        width: 100%;
    }

    .part-2 {
        width: 100%;
        margin-top: 20px;
    }

    .part-3 {
        width: 100%;
        margin-top: 20px;
    }
}

